<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>pi-serra - Pannello di controllo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
        <script></script>
    </head>
    <body>
        <h1>Pannello di controllo</h1>
        <form action="/update-config-data" method="post">
            <span>Temperatura di attivazione:  </span><input type="number" name="onTemperature" value="<%= onTemperature %>" />
            <input type="submit" value="Applica cambiamenti" />
        </form>
        
    </body>
</html>